html {
    direction: ltr;
    font-family: poppins
        /*rtl:prepend:"Droid Arabic Kufi",*/
    ;
    color: alicebluess;
}


.jumbotron {
    font-size: 1.7rem;
}

.jumbotron .introduction {
    margin: 2rem;
}

.jumbotron .introduction span:nth-child(1) {
    font-family: roboto;
    font-weight: 100;
}

.jumbotron .introduction span:nth-child(2) {
    font-family: poppins;
    font-weight: bolder;
}

.jumbotron .introduction span:nth-child(3) {
    font-family: roboto;
    color: rgb(67, 63, 253);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.jumbotron button {
    margin-bottom: 1rem;
}

/* 3D */
.box {
    background-color: rgb(67, 63, 253);
    border-radius: 10px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
}

.box::before {
    content: 'New';
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 4em;
    font-style: italic;
    left: 50%;
    transform: translate(-50%, 0);
    top: 30px;
    opacity: 0;
    transition: .5s;
}

.box:hover::before {
    opacity: .5;

}

.box::after {
    content: 'Product';
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 4em;
    font-style: italic;
    top: 330px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: .5s;
}

.box:hover::after {
    opacity: .5;

}

.name {
    text-align: center;
    color: #fff;
    font-size: 2em;
    opacity: 0;
    transition: .5s;
    top: 0;
    width: 100%;
    transform: translate3d(0, 0, 50px);
    position: absolute;
}

.box:hover .name {
    top: 15px;
    opacity: 1;
}

.details {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 50px);
    opacity: 0;
    transition: .5s;
}

.box:hover .details {
    opacity: 1;
    bottom: 20px;
}

.product {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate3d(-50%, -52%, 100px);
    max-width: 350px;
    transition: 0.5s;
}

.box:hover .product {
    transform: translate3d(-50%, -52%, 100px)rotate(5deg) scale(1.5);
}



/* brekpoint */

/* desktop */
@media (min-width: 992px) {
    .jumbotron {
        padding: 5rem;
        font-size: 3rem;
    }

    .jumbotron .introduction span:nth-child(1) {
        font-family: roboto;
        font-weight: 100;
    }

    .jumbotron .introduction span:nth-child(2) {
        font-family: poppins;
        font-weight: bolder;
    }

    .jumbotron .introduction span:nth-child(3) {
        font-family: roboto;
        color: rgb(67, 63, 253);
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }
}

/* tablet */
@media (min-width: 768px) {
    .jumbotron {
        padding: 2rem;
        font-size: 2rem;
    }

    .jumbotron .introduction span:nth-child(1) {
        font-family: roboto;
        font-weight: 100;
    }

    .jumbotron .introduction span:nth-child(2) {
        font-family: poppins;
        font-weight: bolder;
    }

    .jumbotron .introduction span:nth-child(3) {
        font-family: roboto;
        color: rgb(67, 63, 253);
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }
}