@use 'mixin';
@media (min-width: 992px) {
  .jumbotron {
    @include mixin.jumbo(2rem, 3rem);
    img {
      margin-top: 15px;
    }
    span:nth-child(1) {
      @include mixin.font(100, mixin.$font-roboto);
    }
    span:nth-child(2) {
      @include mixin.font(bolder, mixin.$font-poppins);
    }
    span:nth-child(3) {
      @include mixin.font(bold, mixin.$font-roboto);
      color: mixin.$color-1;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }
}
