$color-1: rgb(67, 63, 253);
$color-2: #fff;
$font-roboto: roboto, sans-serif;
$font-poppins: poppins, sans-serif;

@mixin font($weight, $family) {
  font-family: $family;
  font-weight: $weight;
}
@mixin jumbo($padding, $size) {
  padding: $padding;
  font-size: $size;
}
